/**
 *
 * Apply your custom CSS here
 *
*/

body {
}

a {
}

h1 {
    font-size: 15px;
    padding: 0px 10px 10px 10px;
}
p{
  font-size: 15px;
  padding: 0px 10px 10px 10px;
}
.selected-button{
	position: absolute;
	right:    10px;
	top:   10px;
}

.logo {
  width: 280px;
}
.logo__letter, .logo__rect {
  fill: white;
}
.logo__tool {
  fill: #00AAFF;
}
.logo__io {
  fill: #111;
}

.sidebar-menu .logo-env {
	padding: 0px !important;
}

.settings-icon {
padding-top: 30px !important;
}

@media screen and (max-width: 768px)
{
.mobile-menu-toggle {
    padding-top: 30px !important;
    padding-right: 10px !important;
}
}