html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  background-color: #EDEFF0;
  position: relative;
  font-family: helvetica, arial, sans-serif;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding: 2.6rem 0;
  background-color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 100;
  color: #777;
  margin-bottom: 50px;
}

.container {
  text-align: center;
}

/* Swatch Styles */
/* ---------------------------------------- */
.swatch-container {
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
  cursor: pointer;
  display: inline-block;
  text-align: left;
}
.swatch-container:hover .inner {
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.swatch-container .inner {
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

.swatch-container,
.front,
.back {
  width: 300px;
  height: 250px;
}

.front,
.back {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  background: #3cdbc0;
}

.back {
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #fafafa;
}

footer.details {
  position: absolute;
  bottom: 0;
  height: 26%;
  width: 100%;
  background-color: #fff;
  color: #222;
  padding: 10px;
  font-weight: 800;
}
footer.details span {
  font-weight: normal;
  display: block;
}

.back {
  padding: 12px;
  padding-top: 40px;
}
.back p {
  text-align: center;
  margin-bottom: 20px;
}
.back ul {
  background-color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}
.back li {
  font-weight: 800;
  padding: 10px 5px;
  border-bottom: 1px solid #eee;
  color: #888;
  font-size: 12px;
  cursor: text;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.back li:hover {
  color: #444;
}
.back li:last-child {
  border-bottom: none;
}
.back li span {
  font-weight: normal;
  text-transform: uppercase;
  float: right;
}

.xf7cac9 .front {
  background-color: #f7cac9;
}

.xf7786b .front {
  background-color: #f7786b;
}

.x91a8d0 .front {
  background-color: #91a8d0;
}

.x034f84 .front {
  background-color: #034f84;
}

.xfae03c .front {
  background-color: #fae03c;
}

.x98ddde .front {
  background-color: #98ddde;
}

.x9896A4 .front {
  background-color: #9896A4;
}

.xDD4132 .front {
  background-color: #DD4132;
}

.xB18F6A .front {
  background-color: #B18F6A;
}

.x79C753 .front {
  background-color: #79C753;
}