*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

/* trials */
.codeblock {
	text-align: left;
	color: #fffce1;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Droid Sans Mono';
}

/* Top Navigation Style */
.saijo-top {
	background: #955251;
	text-transform: uppercase;
	width: 100%;
	font-size: 0.69em;
	line-height: 2.2;
}

.saijo-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #fff;
	font-weight: 700;
	display: inline-block;
}

.saijo-top a:hover {
	background: rgba(255,255,255,0.5);
	color: #fff;
}

.saijo-top span.right {
	float: right;
}

.saijo-top span.right a {
	float: left;
	display: block;
}

body {
	background: #955251;
	color: #fffce1;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
	color: #c94e50;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #4681a0;
	outline: none;
}

button:focus {
	outline: none;
}

section {
	padding: 1em;
	text-align: center;
}

.codrops-links {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.69em;
	line-height: 2.2;
	padding: 1.61em 0;
	text-align: center;
}

.codrops-links a {
	display: inline-block;
	padding: 0 20px;
	text-decoration: none;
	letter-spacing: 1px;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Dmeo links */
.codrops-demos {
	font-weight: bold;
}

.codrops-demos a {
	display: inline-block;
	margin: 0 3px;
}

.codrops-demos a.current-demo {
	color: #4681a0;
}

/* Related demos */
.related {
	margin-top: 5em;
	padding: 0 0 5em;
}

.related p {
	font-size: 1.5em;
	font-weight: 700;
	text-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.related > a {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	padding: 10px;
	max-width: 40%;
	min-width: 160px;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
	border-radius: 10px;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0;
	max-width: 300px;
	text-align: left;
}

@media screen and (max-width: 40em) {

	body {
		font-size: 80%;
	}

	.related > a {
		margin: 20px 0;
	}

}

@media screen and (max-width: 25em) {

	.codrops-icon {
		font-size: 225%;
	}

	.codrops-icon span {
		display: none;
	}

}

/* Logo Morph */
@-webkit-keyframes logomorph {
0% {
  opacity:1;
}
25% {
  opacity:1;
}
75% {
  opacity:0;
}
100% {
  opacity:0;
}
}

@-moz-keyframes logomorph {
0% {
  opacity:1;
}
25% {
  opacity:1;
}
75% {
  opacity:0;
}
100% {
  opacity:0;
}
}

@-o-keyframes logomorph {
0% {
  opacity:1;
}
25% {
  opacity:1;
}
75% {
  opacity:0;
}
100% {
  opacity:0;
}
}

@keyframes logomorph {
0% {
  opacity:1;
}
25% {
  opacity:1;
}
75% {
  opacity:0;
}
100% {
  opacity:0;
}
}

#mainlogo {
  position:relative;
  height:200px;
  width:200px;
  margin:0 auto;
}
#mainlogo img {
  position:absolute;
  left:0;
}

#mainlogo img.logotop {
  -webkit-animation-name: logomorph;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
  -webkit-animation-direction: alternate;

  -moz-animation-name: logomorph;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 5s;
  -moz-animation-direction: alternate;

  -o-animation-name: logomorph;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 5s;
  -o-animation-direction: alternate;

  animation-name: logomorph;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
}

/* Carbon Ads*/ 
.carbon-wrap{
	display: block;
	background: #b77c7b;
	padding: 15px 15px 10px 15px;
	max-width: 400px;
}
.carbon-wrap a {
    display: block;
}

.carbon-img {
    float: left;
    margin-right: 10px;
}

.carbon-text {
    font-size: 80%;
    line-height: 130%;
    min-width: 120px;
    color: #06c;
}

.carbon-poweredby {
    color: #6e6e6e;
    text-decoration: underline;
    font-size: 65%;
    font-style: italic;
    text-align: center;
    display: block;
    margin: 8px 0 0 0;
}

.cf:before,.cf:after, .carbon-wrap:before, .carbon-wrap:after{content:"";display:table;}
.cf:after, .carbon-wrap:after{clear:both;}
.cf, .carbon-wrap{zoom:1;}
